homeassistant:
  # Name of the location where Home Assistant is running
  name: Home
  # Location required to calculate the time the sun rises and sets
  latitude: {{ home_latitude }}
  longitude: {{ home_longitude }}
  # Impacts weather/sunrise data (altitude above sea level in meters)
  elevation: {{ home_elevation }}
  # metric for Metric, imperial for Imperial
  unit_system: metric
  # Pick yours from here: http://en.wikipedia.org/wiki/List_of_tz_database_time_zones
  time_zone: {{ timezone }}
  # Customization file
  customize: !include customize.yaml

lovelace:
  mode: yaml

# Example configuration.yaml entry
mqtt:
  discovery: true
  broker: {{ homeassistant.configuration.mqtt.broker }}
  port: {{ homeassistant.configuration.mqtt.port }}

  birth_message:
    topic: 'hass/status'
    payload: 'online'
  will_message:
    topic: 'hass/status'
    payload: 'offline'

# Configure a default setup of Home Assistant (frontend, api, etc)
default_config:

# Uncomment this if you are using SSL/TLS, running in Docker container, etc.
# http:
#   base_url: example.duckdns.org:8123
# Text to speech
tts:
  - platform: google_translate

group: !include groups.yaml
automation: !include automations.yaml
script: !include scripts.yaml
scene: !include scenes.yaml
